# Server
fastapi==0.103.1
gunicorn==21.2.0
uvicorn==0.23.2

# Models
pydantic==2.2.1  # v2 depends on LangChain compatibility, if using

# Agent
langchain==0.0.298
openai==0.28.0

# Database
pymongo==4.4.1
